<div>
    <h2 id="page-heading">
        <span jhiTranslate="norforkApp.inventario.home.title">Inventarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventario" [routerLink]="['/inventario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="norforkApp.inventario.home.createLabel">
            Create a new Inventario
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="inventarios?.length === 0">
        <span jhiTranslate="norforkApp.inventario.home.notFound">No inventarios found</span>
    </div>
    <div class="table-responsive" *ngIf="inventarios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="norforkApp.inventario.stock">Stock</span></th>
            <th scope="col" ><span jhiTranslate="norforkApp.inventario.producto">Producto</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inventario of inventarios ;trackBy: trackId">
                <td><a [routerLink]="['/inventario', inventario.id, 'view' ]">{{inventario.id}}</a></td>
                <td>{{inventario.stock}}</td>
                <td>
                    <div *ngIf="inventario.productoId">
                        <a [routerLink]="['/producto', inventario.productoId , 'view' ]" >{{inventario.productoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/inventario', inventario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inventario', inventario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(inventario)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
